
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
          <div class="content-header-left col-md-8 col-12 mb-2">
            <h3 class="content-header-title mb-0 d-inline-block"><i class="las la-shopping-basket" style="font-size: 125%;"></i> Planetr Marketplace</h3>
          </div>
          <div class="content-header-right col-md-4 col-12 d-none d-md-inline-block">
          </div>
        </div>

        <div class="content-body">
            <div class="row match-height">
                <div class="col-xl-8 col-12">
                    {{#each rows.featured}}
                    <section class="">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-md-3 col-xl-2 col-3 d-md-block">
                                            <div class="crypto-circle rounded-circle" style="padding:15px 0 0 10px">
                                                <img src="{{iconurl}}" alt="{{name}} logo" style="max-width:75px"/>
                                            </div>
                                        </div>
                                        <div class="col-md-5 col-xl-6 col-9">
                                            <p class="btn-sm btn btn-outline-warning round badge-sm"><strong>Featured</strong></p>
                                            <h4>{{name}}</h4>
                                            <p class="mb-0">{{description}}</p>
                                        </div>
                                        <div class="col-md-4 col-xl-4 col-12 d-md-block text-right py-2">
                                        <a class="btn-gradient-primary white" href="#">+ Start</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                     {{/each}}
                </div>
                <div class="col-xl-4 col-lg-12 border-light border-left ">
                    <h6>What is Planetr Marketplace?</h6>
                    <p>
                    Planetr Marketplace is a digital catalog with many software listings from independent software vendors that make it easy to find, test, buy, and deploy software that runs on decentralized cloud.
                    </p>
                    <p>
                    Filter by type, category and you should find a listing which you are looking for.
                    </p>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-10 col-12 order-2">
                    <div class="tab-content" id="v-pills-tabContent">
                        {{#each rows.cats}}
                        <div class="{{#if @index}}tab-pane fade{{else}}tab-pane fade active show{{/if}}" id="v-pills-{{id}}" role="tabpanel" aria-labelledby="v-pills-{{id}}-tab">
                            <div id="accordion" class="collapse-icon accordion-icon-rotate left">
                               
                               {{#each items}}
                                <div class="card">
                                    <div class="card-header" id="heading{{id}}">                                      
                                        <div class="row">
                                            <div class="col-md-7 col-12">
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapse{{id}}" aria-expanded="false" aria-controls="collapse{{id}}" href="#">
                                                <img src="{{iconurl}}" alt="{{name}} logo" style="max-width:50px"/> {{name}}</a>
                                            </div>
                                            <div class="col-md-2 col-12 py-1">
                                                <span class="btn-sm btn btn-outline-info round badge-sm">{{type}}</span> 
                                                <span class="btn-sm btn btn-outline-success round badge-sm">{{cost}}</span> 
                                            </div>
                                            <div class="col-md-3 col-12 text-right py-2">
                                                <a class="btn-gradient-primary white mt-1" href="#">+ Start</a>
                                            </div>
                                        </div>
                                                   
                                    </div>
                                    <div id="collapse{{id}}" class="collapse" aria-labelledby="heading{{id}}" data-parent="#accordion">
                                        <div class="card-body">
                                            {{description}}
                                        </div>
                                    </div>
                                </div>
                                 {{/each}}
                                
                            </div>
                        </div>
                         {{/each}}
                    </div>
                </div>
                <div class="col-md-2 col-12 order-1">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        {{#each rows.cats}}
                        <a class="{{#if @index}}nav-link{{else}}nav-link active show{{/if}}" id="v-pills-{{id}}-tab" data-toggle="pill" href="#v-pills-{{id}}" role="tab" aria-controls="v-pills-{{id}}" aria-selected="true">{{category}}</a>
                        {{/each}}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>